<h1>Pages#home</h1>
<p class="text-primary">Find me in app/views/pages/home.html.erb</p>


<% if user_signed_in? %>
  <p>Current user: <%= current_user.email %></p>
<% end %>

<p>Current user: <%= current_user&.email %></p>